{% extends 'main/base.html' %}

{% block title %}
Create task
{% endblock %}

{% block content %}
    <h1 style="color: royalblue">Create task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.title }} <br>
        {{ form.task }} <br>
        <div>
            {{ form.group }} <br>
            {{ form.group.errors }}
        </div>
        <button type="submit" class="btn btn-success" style="color: antiquewhite; background-color: royalblue; margin-top: 20px">Add</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}
