{% extends 'main/base.html' %}

{% block title %}
    Delete task {{ task.title }}
{% endblock %}

{% block content %}
    <h1>Delete Task</h1>
    <p>Are you sure you want to delete this task: <b>{{ task.title }}</b>?</p>
    <form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-outline-secondary" type="submit" value="Delete">
    <button class="btn btn-outline-secondary">
        <a href="{% url 'home' %}" class="nav-link">Return</a>
    </button>
    </form><br>
{% endblock %}
