{% extends 'main/base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 style="font-size: large; color: royalblue">
        {% if user.first_name and user.last_name %}
            Hi {{ user.first_name}} {{ user.last_name}}!
        {% else %}
            Hi {{ user.username }}!
        {% endif %}
        </h1>
        <h2>Your task manager</h2>
        <select name="filter" onchange="window.location.href=this.value">
            <option value="">Filter tasks</option>
            <option value="{% url 'home' %}">All tasks</option>
            <option value="{% url 'home' status='completed' %}">Completed tasks</option>
            <option value="{% url 'home' status='uncompleted' %}">Uncompleted tasks</option>
        </select>
        {% if tasks %}
            {% for elem in tasks %}
                <div class="alert alert-warning mt-2">
                    <h3>{{ elem.title }}</h3>
                    <p>{{ elem.task }}</p>
                    <a href="{% url 'delete' elem.id %}" class="nav-link" style="color: royalblue">Delete task</a>
                    <form method="post" action="{% url 'check_completed' elem.id %}">
                        {% csrf_token %}
                        <input type="checkbox" id="is_complete_{{ elem.id }}" name="is_complete" {% if elem.is_completed %}checked{% endif %} onchange="this.form.submit()">
                        <label for="is_complete_{{ elem.id }}">Task is complete</label>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>There no tasks</p>
        {% endif %}
    {% else %}
        <p>You are not logged in</p>
    {% endif %}
{% endblock %}
