{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.first_name and user.last_name %}
            <h1 style="font-size: large; color: royalblue">Hi {{ user.first_name}} {{ user.last_name}}!</h1>
        {% else %}
            <h1 style="font-size: large; color: royalblue">Hi {{ user.username }}!</h1>
        {% endif %}
        <h2>Your task manager</h2>
        {% if tasks %}
            {% for elem in tasks %}
                <div class="alert alert-warning mt-2">
                    <h3>{{ elem.title }}</h3>
                    <p>{{ elem.task }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>There no tasks</p>
        {% endif %}
    {% else %}
        <p>You are not logged in</p>
    {% endif %}
{% endblock %}