{% extends 'main/base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Your task manager</h1>
        {% if tasks %}
            {% for elem in tasks %}
                <div class="alert alert-warning mt-2">
                    <h3>{{ elem.title }}</h3>
                    <p>{{ elem.task }}</p>
                    <a href="{% url 'delete' elem.id %}" class="nav-link" style="color: royalblue">Delete task</a>
                </div>
            {% endfor %}
        {% else %}
            <p>There no tasks</p>
        {% endif %}
    {% else %}
        <p>You are not logged in</p>
    {% endif %}
{% endblock %}